/* You can add global styles to this file, and also import other style files */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  margin: 0;
  color: black;
  font-weight: normal;
  line-height: 1.5;
  min-height: 100%;
}


button,
tr,
.main-content,
.header,
.footer {
  text-decoration: none;
  transition: all 0.2s ease;
}
